<div class = "container">
  <div class ="row">
    <h3>嵯峨漬物やまじょうのこだわり</h3>
    <div class = "col-9 mt-3">
      <div class ="mb-1">
        <h5>壱・嵯峨漬物やまじょうでは、手作業にこだわります</h5>
        <p class = "ml-3">
        一度に大量に作ることはできません・・・。しかし一つ一つ愛情を込めて漬け込んでいきます。<br>
        下拵え・味の按配・樽への漬け込み・樽上げ・袋詰めの作業全て<br>
        お客様の手に渡るそのときまで手作業で行うことで生まれる繊細な味わいをお楽しみください。
        </p>
      </div>
      <div class ="mb-1">
        <h5>弍・嵯峨漬物やまじょうでは、原菜にこだわります</h5>
        <p class = "ml-3">
          嵯峨野菜を中心に季節に応じて一番おいしい国産の野菜を仕入れています。<br>
          最高の漬物を届けるためこだわりの産地の野菜が手に入るまで漬け込み時期を変えることもあります。<br>
          また漬け込みに必要な昆布や唐辛子においても国内産にこだわっています。
       </p>
      </div>
      <div>
        <h5>参・嵯峨漬物やまじょうでは、嵯峨水尾乃柚子にこだわります</h5>
        <p class = "ml-3">
          当店ではさまざまな柚子商品や柚子香香があります。<br>
          嵯峨水尾産の柚子は温暖な地域で栽培されたものよりも香りが強いといった特徴があります。<br>
          上品な香りと風味をぜひお楽しみください。
        </p>
      </div>
    </div>
    <div class = "col-3 mx-auto">
      <%= image_tag 'about1.png', :size =>'200x200', class:"mb-1"%>
      <%= image_tag 'about2.png', :size =>'200x200' %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-lg-6">
      <h3>会社概要</h3>
      <table class = "table">
        <tr>
          <th>事業内容</th>
          <td>つけもの製造および販売</td>
        </tr>
        <tr>
          <th>社名</th>
          <td>株式会社　やまじょう</td>
        </tr>
        <tr>
          <th>代表者</th>
          <td>代表取締役　上西宗和・上西和義</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>
            〒616-8421<br>
            京都市右京区嵯峨釈迦堂門前瀬戸川町十四番地</td>
          </tr>
        <tr>
          <th>TEL/FAX</th>
          <td>075-871-4467</td>
        </tr>
        <tr>
          <th>創業</th>
          <td>昭和39年11月</td>
        </tr>
      </table>
    </div>
    <div class = "col-lg-6 my-auto">
      <h5>沿革</h5>
      <table class = "table table-borderless">
        <tr>
          <td>昭和39年</td>
          <td>上西商店（屋号：やまじょう）を開始</td>
        </tr>
        <tr>
          <td>平成5年</td>
          <td>法人組織に改組し、有限会社やまじょうとして営業</td>
        </tr>
        <tr>
        <td>平成22年</td>
        <td>
          社名変更による組織変更で株式会社やまじょうとして営業<br>
          （屋号：嵯峨漬物やまじょう）
        </td>
        </tr>
        <tr>
          <th></th>
          <td>店舗改装にて柚子香香の販売開始</td>
        </tr>
      </table>
    </div>
  </div>
</div>