<div class = "container">
  <div class = "row">
    <h3 class = "title">お問い合わせ</h3>
    <h5 class = "mt-3 ml-5 border-bottom">お気軽にお電話にてご相談ください。TEL/FAX 075-871-4457</h5>
  </div>
  <div class = "row">
    <%= link_to "お問い合わせをする", new_contact_path %>
  </div>
  <div class = "row mt-3">
    <div class = "col-lg-6">
      <h4 class = "mb-3">・よくある質問</h4>
      <div>
        <div>
          <p>
            <strong class = "text-success">Q:お漬物の日持ちはどのくらい？</strong><br>
            A:原料・材料によって様々ですが各商品の品質を保証する日を設定しておりますので記載日までにお召し上がりください。<br>
            また<strong class = "border-bottom border-2 border-danger">開封後はお早めにお召し上がりください。</strong>
          </p>
        </div>
        <div>
          <p>
            <strong class = "text-success">Q:保存方法はどのようにすればいいですか？</strong><br>
            A:開封前は各商品の記載の指示に従って保存してください。
            <strong class = "border-bottom border-2 border-danger">開封後はできるだけ中の空気を抜いて冷蔵庫に保管し</strong>
            できるだけ早くお召し上がりください。
          </p>
        </div>
        <div>
          <p>
            <strong class = "text-success">Q:洗ってから食べる方がいいのですか？</strong><br>
            A:ぬか漬けの場合食べて害はありませんが食べていただく際にぬかを洗い落としてお召し上がりください。
          </p>
        </div>
        <div>
          <p>
            <strong class = "text-success">Q:野菜は国内産ですか？外国産ですか？</strong><br>
            A:国内産です。当店では原菜だけでなく漬け込みに必要な昆布や唐辛子も国内産にこだわっています。
          </p>
        </div>
        <div>
          <p>
            <strong class = "text-success">Q:地方発送をすることは可能ですか？</strong><br>
            A:全国地方発送承っております。
          </p>
        </div>
      </div>
    </div>
    <div class = "col-lg-6">
      <h4>・アクセス</h4>
      <table class = "table table-borderless">
        <tr>
          <th>所在地</th>
          <td>
            〒616-8421<br>
            京都市右京区嵯峨釈迦堂門前瀬戸川町１４番地
          </td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td>9時から18時</td>
        </tr>
        <tr>
          <th>定休日</th>
          <td>水曜日</td>
        </tr>
      </table>
      <div class = "text-center">
        <%= image_tag 'map.png', :size =>'500x280' %>
      </div>
    </div>
  </div>
</div>