<h5>お問い合わせ</h5>
<p>----------------------------<br>
  <%= @contact.name %> 様 から問い合わせがありました。<br>
  【Mail】：<%= @contact.email %><br>
  【Tel】：<%= @contact.telephone_number %><br>
  【お問い合わせ内容】<br>
  <span style="white-space: pre-wrap;"><%= @contact.message %></span>
</p>