<div class="d-flex align-items-center justify-content-center" style="height:60vh;">
  <h2>ご注文ありがとうございました！</h2>
  <div>
    <%= link_to "トップへ戻る", root_path, class:"btn btn-primary ml-3" %>
  </div>
</div>