<% if resource.errors.any? %>
  <div id="error_explanation">
    <h4>エラーが発生しました。以下ご確認の上再度お試しください。</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
