<h3>商品一覧</h3>
<div>
  <% @items.each do |item| %>
    <div><%= attachment_image_tag item, :image, :fill, 300, 300 %></div>
    <div><%= item.name %></div>
    <div><%= item.price %></div>
    <% if item.is_active %>
      <div>販売中</div>
    <% else %>
      <div>販売停止中</div>
    <% end %>
    <%= link_to "詳細へ", item_path(item) %>
  <% end %>
</div>