<h3>商品詳細</h3>

<div><%= @item.name %></div>
<div><%= attachment_image_tag @item, :image, :fill, 300, 300 %></div>
<div><%= @item.introduction %></div>
<div><%= @item.price %></div>
<% if @item.is_active %>
  <div>販売中</div>
<% else %>
  <div>販売停止中</div>
<% end %>
