<footer class = "footer" style="background-color:rgba(255,239,15,0.8);">
  <div class = "container">
    <div class = "row">
      <div class = "col-6">
        <h3>嵯峨漬物やまじょう</h3>
        <h5>
          〒京都市右京区嵯峨釈迦堂門前瀬戸川町１４番地<br>
          TEL・FAX：075-871-4457
        </h5>
      </div>
      <div class = "col-6">
        <div>
          <a class="fab fa-instagram fa-3x" href="https://www.instagram.com/explore/locations/273444237/japan/kyoto-japan/?hl=ja" style="color:green;"></a>
          <a class="fab fa-facebook-square fa-3x ml-3" href="https://www.facebook.com/sagatsukemonoyamajo" style="color:green;"></a>
        </div>
        <p class = "copyright mt-3">Copyright© Saga Tsukemono Yamajo. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>