<footer>
  <div>
    <div>
      <h3>嵯峨漬物やまじょう</h3>
      <h4>
        〒京都市右京区嵯峨釈迦堂門前瀬戸川町１４番地<br>
        TEL・FAX：075-871-4457
      </h4>
    </div>
    <div>
      <p>Copyright© Saga Tsukemono Yamajo. All Rights Reserved</p>
    </div>
  </div>
</footer>